body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;

    font-family: Arial, sans-serif;
    background: #243447;
    color: white;
}
